{% load staticfiles %}
<html>
    <head>
        <title>Eva blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <h1><a href="/">Eva Blog</a></h1>
                <a href="{% url 'export_posts_xls' %}">Export all posts</a>
                <a href="{% url 'import_posts_xls' %}">Import posts (xslx)</a>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-sm-8 post-wall">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>