{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <!-- Post header -->
            <h1>
                <a class="col-sm-4" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h1>
            <div class="date col-sm-4">{{ post.published_date }}</div>
            
            <!-- Post body -->
            <p class="col-sm-8">{{ post.text|linebreaksbr }}</p>
            <form action="{% url 'post_delete' post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete" />
            </form>
        </div>
    {% endfor %}
{% endblock %}